{% extends 'base.html.twig' %}
{% block title %}
	{{pageTitle}}
{% endblock %}
{% block nav %}
	<a href="/home" onclick="return bh(this)">Home</a>
	<a href="/lasts" onclick="return bh(this)">Derniers articles</a>
	<a href="/posts" onclick="return bh(this)">Touls les articles</a>
	<a href="/post/1" onclick="return bh(this)">Article 1</a>
	<a href="/user/1" onclick="return bh(this)">User 1</a>
	<a href="/login" onclick="return bh(this)">Login</a>
    {% if (admin == true) %}
	<a href="/newPost" onclick="return bh(this)">Nouveau</a>
	<a href="/admin" onclick="return bh(this)">Admin</a>
    {% endif %}
	<a href="/contact" onclick="return bh(this)">Contact</a>
	<a onclick="return bg(this)" data-bj="target|categories" class="ajaxCall">Catégories (Toggle)</a>
	<div id="target"></div>
{% endblock nav %}
{% block main %}

	{{ dump(article) }}
	{% block post %}{% endblock post %}
	{% block posts %}{% endblock posts %}
	{% block comments %}{% endblock comments %}
{% endblock main %}
