RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^./]+)/([^./]+)/([^./]+)/([^./]+)$ /src/public/index.php?a=$1&b=$2&c=$3&d=$4 [L]
RewriteRule ^([^./]+)/([^./]+)/([^./]+)$ /src/public/index.php?a=$1&b=$2&c=$3 [L]
RewriteRule ^([^./]+)/([^./]+)$ /src/public/index.php?a=$1&b=$2 [L]
RewriteRule ^([^./]+)$ /src/public/index.php?a=$1 [L]
RewriteRule ^/$ /src/public/index.php [L]
RewriteRule ^$ /src/public/index.php [L]
