{% extends ajaxMode == 'false' ? 'main.html.twig' : 'empty.html.twig' %}
{%  block main %}
    <h2>Inscription</h2>
    
    {% if error %}
        <div class="frame-red">{{error}}</div>
    {% endif %}

        <div class="frame-white">
            <div class="">
                <input type="text" id="name" placeholder="Pseudo" value="{{name}}" required>
                <label for="name">Pseudo</label>
            </div>
            <div class="">
                <input type="password" id="pswd" placeholder="Mot de passe" required>
                <label for="pswd">Mot de passe</label>
            </div>
            <a class="btsav" onclick="bj(this)" data-bj="main|logon||name,pswd">
                Login !</a>

            <a class="btn" onclick="bg(this)" data-bj="register|register">
                S'enregistrer ?</a>
            <div id="register"></div>
        </div>
{% endblock %}
