{% extends ajaxMode == 'false' ? 'base.html.twig' : 'empty.html.twig' %}
{%  block main %}
        <div class="">
            <input type="password" id="psw2" placeholder="Confirmer mot de passe" required>
            <label for="pswd2">Confirmer mot de passe</label>
        </div>
        <div class="">
            <input type="mail" id="mail" name="mail" placeholder="E-mail" required>
            <label for="mail">E-mail</label>
        </div>
        <a class="btsav" onclick="bj(this)" data-bj="main|registerUser||name,mail,pswd,psw2">
            S'inscrire</a>
        <div id="callbackRegister"></div>
{% endblock %}
