{% extends ajaxMode == 'false' ? 'main.html.twig' : 'empty.html.twig' %}
{%  block main %}
    <h2>Admin</h2>
    
    {% if (admin == true) %}
		<div class="nav">
			<a class="nav-tabs nav-link" onclick="bj(this)" data-bj="admin|adminArticles|">
			Articles</a>
			<a class="nav-tabs nav-link" onclick="bj(this)" data-bj="admin|adminComments|">
			Commentaires</a>
			<a class="nav-tabs nav-link" onclick="bj(this)" data-bj="admin|adminContacts|">
			Contacts</a>
			<a class="nav-tabs nav-link" href="/newPost" onclick="return bh(this)">
			+ Nouvel article</a>

		</div>
    {% else %}
        <div class="alert alert-warning">Vous n'êtes pas autorisé à siéger ici.</div>
    {% endif %}
		<div id="admin">
			{% block table %}{% endblock %}
        </div>
{% endblock %}
