<div class="menu">
    <ul class="navbar-nav ms-auto">
    {% for result in results %}
	    <a class="btn btn-primary" href="/category/{{result.id}}" onclick="return bh(this)">
            {{result.category | raw }}
        </a>
	</li>
    {% endfor %}
	</ul>
</div>
