{% extends ajaxMode == 'false' ? 'main.html.twig' : 'empty.html.twig' %}
{%  block main %}

    <h2>Envoyer un message</h2>
    
    {% if error %}
        <div class="frame-red">{{error}}</div>
    {% endif %}

        <a class="btsav" onclick="bj(this)" 
            data-bj="main|contactSave||name,mail,excerpt,message">
            Envoyer</a>
        <div class="frame-white">
            <div class="">
                <input type="text" id="name" placeholder="Nom" value="{{name}}">
                <label for="name">Nom, prénom</label>
            </div>
            <div class="">
                <input type="mail" id="mail" placeholder="E-mail" value="{{mail}}">
                <label for="mail">E-mail</label>
            </div>
            <div class="area">
                <textarea id="message" placeholder="Message...">{{message}}</textarea>
            </div>

            <div id="ContactTest"></div>
        </div>
{% endblock %}
