{% extends ajaxMode == 'false' ? 'main.html.twig' : 'empty.html.twig' %}
{%  block main %}
    <h2>Nouveau commentaire</h2>
    
    {% if error %}
        <div class="frame-red">{{error}}</div>
    {% endif %}

        <div class="frame-white">
            <input type="hidden" id="postId" value="{{postId}}">
            <div class="area">
                <textarea id="comment" placeholder="Commentaire">{{comment}}</textarea>
            </div>
            <a class="btsav" onclick="bj(this)" data-bj="CommentTest|postComment||postId,comment">
                Envoyer</a>

            <div id="CommentTest"></div>
        </div>
{% endblock %}
