{% extends ajaxMode == 'false' ? 'main.html.twig' : 'empty.html.twig' %}
{%  block main %}
    <h2>Inscription</h2>
    
    {% if error %}
        <div class="frame-red">{{error}}</div>
    {% endif %}

        <div class="frame-white">
            <div class="">
                <input type="text" id="title" placeholder="Titre" value="{{title}}" required>
            </div>
            <div class="">
                <textarea id="excerpt" placeholder="Résumé">{{excerpt}}</textarea>
            </div>
            <div class="">
                <textarea id="content" placeholder="Article">{{content}}</textarea>
            </div>
            <a id="logbt" class="btsav" onclick="bj(this)" data-bj="postTest|postSave||title,excerpt,content">
                Enregistrement</a>

            <div id="postTest"></div>
        </div>
{% endblock %}
